@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Mulish:wght@200&display=swap");

* {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  text-align: center; 
}

.aside {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.umbrella-container {
  position: relative;
  display: inline-block;
}

.logo-preview {
  display: none;
  position: absolute;
  bottom: 30px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: auto;
}

.rightDiv {
  flex: 1;
  min-height: 300px;
  max-width: 300px;
  width: 100%;
  margin: 100px 200px 50px 50px;
  padding: 20px;
  text-align: center;
  }

  .color-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 20px; 
  }
  
  .color-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #pink-button {
    background-color: #ff4081;
  }
  
  #blue-button {
    background-color: #2196f3;
  }
  
  #yellow-button {
    background-color: #ffc107;
  }

#uploadLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#upload-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #2196f3; 
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#upload-button img.upload-icon {
  margin-right: 8px; 
  width: 16px;
  vertical-align: middle;
}

#upload-button:focus {
  outline: none;
}

.logo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #2196f3; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-instruction{
  font-size: smaller;
}

.loadedImage {
  display: block;
    margin: auto;
    width: 50%;
}

#uploadIcon,
#image {
  transition: all 5s linear;
}

@keyframes shrink-spin-normal-spin {
    0% {
        transform: scale(0.5) rotate(0deg);
    }
    50% {
        transform: scale(0.5) rotate(360deg);
    }
    51% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
    }
}

@keyframes shrink-spin {
  0% {
      transform: scale(1) rotate(0deg);
  }
  50% {
      transform: scale(0.5) rotate(180deg);
  }
  100% {
      transform: scale(1) rotate(360deg);
  }
}